html, body, head, p, ul, li, a, h1, h2, h3, h4 ,h5, h6 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Tahoma';
    text-decoration: none;
    list-style: none;
}

.header {
    padding: 25px 0;
}

.menu {
    text-align: center;
}

.menu-item {
    list-style-type: none;
    margin-left: 72px;
}

.menu-btn {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #FF0000;
    line-height: 18px;
}

.main {
    width: 1519px;
}

.fr-section {
    align-items: center;
    width: 1519px;
    height: 789px;
}

.main-img {
    width: 1280px;
    margin: 0 119px;
}

.sec-section {
    padding: 50px 0;
    width: 1280px;
    margin: 0 auto;
}

.page-title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: #373737;
}

.main-text {
    text-align: center;
    margin: 0 67px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #373737;
}

.secondory-text {
    text-align: center;
    margin: 0 67px 65px 67px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #373737;
}

button {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    padding: 18px 43px;
    background-color: #FF0000;
    border: none;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
}

footer {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.footer-text {
    margin-left: 645px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #373737;
}